In [1]:
%load_ext autoreload
#%load_ext sql
%autoreload 2

#import sqlite3

import matplotlib.pyplot as plt
import pandas as pd
from config import settings

In [1]:
%%writefile retrieve_data.p_y

#
# (c) Ricky Macharm, MScFE
# https://SisengAI.com
#

"""This is for all the code used to interact with Hantec data and the SQLite database. 
The whole setup relies on our account number, password and server details
stored in our `.env` file and imported via the `config` module.
"""

import sqlite3

import pandas as pd
import requests
from config import settings
import MetaTrader5 as mt
from tabulate import tabulate


class MT5_Data:
    
    """Class to get the desired trading instrument from any broker that offers mt5 and the 
        features of 'open', 'high', 'low', 'close' & 'tick_volume' arranged in a convenient 
        fashion in a DataFrame.
    """
    
    def __init__(self, login=settings.login, password=settings.password, server=settings.server):
        self.__login = login
        self.__password = password
        self.__server = server  
        
        
        
    def ticker_data(self, ticker, time_frame="D1", start_bar = 0, num_bars = 99999):
    
        """Code to retrieve ticker data from your broker.
        
        Parameters
        ----------
        ticker : str
            The ticker symbol of the FOREX pair, Stock or CFD. To see the list of available tickers
            or symbols, run the `ticker_list` method
        time_frame: str
            The desired time frame of the instrument. By default its set to "D1" 
            or daily bars. You have the option to set it to "M1", "M2", "M3", "M5",
            "M10", "M15", "M30", "H1", "H2", "H3", "H4", "H6", "H8", "H12", "D1",
            "W1", "MN1"
        start_bar : int
            initial bar index. Set to 0 by default.
            
        num_bars : int
            Total number of bars to fetched. Set to 99999 by default. Works even if the available bars are
            less.
        

        Returns
        -------
        pd.DataFrame
            Columns are 'open', 'high', 'low', 'close', and 'tick_volume'.
            'tick_volume' is set to integer, the rest are all set to float.        
        
        """
        
         # intialize the mt5 account
        mt.initialize()
 
        # log in to a trading account of your broker
        mt.login(self.__login, self.__password, self.__server)

        if ticker not in [s.name for s in mt.symbols_get()]:
                    raise Exception(
                        f"Invalid Ticker name. {self.__server} does not contain '{ticker}'."
                    )

        timeframe = eval(f'mt.TIMEFRAME_{time_frame}') # to remove the quotation marks
        bars = mt.copy_rates_from_pos(ticker, timeframe, start_bar, num_bars)

        return (pd.DataFrame(bars)
             .assign(date = lambda x: 
                     pd.to_datetime(x['time'], unit='s'))
             .drop(['spread', 'real_volume', 'time'], axis=1)
             #.pipe(lambda x: x.loc[x.tick_volume > 10])
             .set_index('date')
            )  
    
    
    def ticker_list(self):
        
        mt.initialize()
        mt.login(self.__login, self.__password, self.__server)
        tl = [s.name for s in mt.symbols_get()]
        out_put = [tl[i: i+14] for i in range(0, len(tl), 14)]
        
        return print(tabulate(out_put, tablefmt="grid"))
    
    
class SQLiteRepo:
    def __init__(self,
                connection):
        self.connection = connection

    def insert_table(self, table_name,
                    records, if_exists="fail"):
        
    
        """Create a SQLite database & Insert DataFrame as table

        Parameters
        ----------
        table_name : str
            in this case we use the ticker symbol as table name.
        records : pd.DataFrame
        if_exists : str, optional
            How to behave if the table already exists.

            - 'fail': Raise a ValueError.
            - 'replace': Drop the table before inserting new values.
            - 'append': Insert new values to the existing table at the bottom.

            Dafault: 'fail' so we don't mistakenly overwrite our previously
            stored data.

        Returns
        -------
        dict
            Dictionary has two keys:

            - 'transaction_successful', followed by bool (True or False)
            - 'records_inserted', followed by int (for the number of records updated)
        """
        
        n_inserted = (records.sort_index(ascending=False)
                      .to_sql(name=table_name,
                       con=self.connection,
                       if_exists=if_exists))
        
        return {
            "transaction_successful":True,
            "records_inserted": n_inserted
        }

    def read_table(self, table_name, limit=None):
    
        """Read table from database.

        Parameters
        ----------
        table_name : str
            Name of table in SQLite database.
        limit : int, None, optional
            Number of most recent records to retrieve. If `None`, all
            records are retrieved. By default, `None`.

        Returns
        -------
        pd.DataFrame
            Index is DatetimeIndex "date". Columns are 'open', 'high',
            'low', 'close', and 'volume'. All columns are numeric.
        """
        # Create SQL query (with optional limit)
        if limit:
            sql = f"SELECT * FROM '{table_name}' LIMIT {limit}"
        else:
            sql = f"SELECT * FROM '{table_name}'"


        # Retrieve data, read into DataFrame & Return DataFrame
        return  pd.read_sql(
                sql=sql,
                con=self.connection,
                parse_dates=["date"],
                index_col="date"
                ).sort_index(ascending=True)

Writing retrieve_data.p_y

In [2]:
from retrieve_data import *

In [3]:
df = MT5_Data()
# df.ticker_list()

In [4]:
# df.ticker_data?

In [5]:
ticker = "EURUSD"
df_eurusd = df.ticker_data(ticker=ticker)

In [6]:
df_eurusd.head()

              open    high     low   close  tick_volume
date
1971-01-04  0.5369  0.5369  0.5369  0.5369            1
1971-01-05  0.5366  0.5366  0.5366  0.5366            1
1971-01-06  0.5365  0.5365  0.5365  0.5365            1
1971-01-07  0.5368  0.5368  0.5368  0.5368            1
1971-01-08  0.5371  0.5371  0.5371  0.5371            1

In [7]:
settings.db_name

'cdf.db'

In [8]:
connection = sqlite3.connect(database=settings.db_name, check_same_thread=False)

print(f"connection type {type(connection)}")

connection type <class 'sqlite3.Connection'>

In [9]:
# Import class definition
from retrieve_data import SQLiteRepo

# Create instance of class
repo = SQLiteRepo(connection=connection)

# Does `repo` have a "connection" attribute?
assert hasattr(repo, "connection")

# Is the "connection" attribute a SQLite `Connection`?
assert isinstance(repo.connection, sqlite3.Connection)

In [10]:
response = repo.insert_table(table_name=ticker, records=df_eurusd, if_exists="replace")

# Does your method return a dictionary?
assert isinstance(response, dict)

# Are the keys of that dictionary correct?
assert set(list(response.keys())) == set(["records_inserted", "transaction_successful"])

In [11]:
%load_ext sql
%sql sqlite:////cdf.db

(sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [12]:
%sql sqlite:////cdf.db

(sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
df_eurusd = df_eurusd.astype(str)
df_eurusd.to_sql(ticker, engine)

In [ ]:
pd.read_sql(ticker, engine)

In [ ]:
pd.read_sql('EURUSD', engine)

In [ ]:
import pandas as pd

# query the 'stocks' table
df_stocks = pd.read_sql_query("SELECT * FROM 'EURUSD'", engine)

# print the first 10 rows of the DataFrame
print(df_stocks.head(10))

In [ ]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("cdf.sqlite")

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM EURUSD'):
    print(row)

# Be sure to close the connection
con.close()

In [16]:
sql = "SELECT * FROM 'EURUSD'"

In [17]:
connection = sqlite3.connect(database=settings.db_name, check_same_thread=False)

In [18]:
pd.read_sql(sql=sql,
                con=connection,
                parse_dates=["date"],
                index_col="date"
                )

               open     high      low    close  tick_volume
date
2023-02-22  1.06468  1.06641  1.06244  1.06455        53096
2023-02-21  1.06851  1.06886  1.06825  1.06881         2629
2023-02-20  1.06869  1.07046  1.06702  1.06851        52405
2023-02-17  1.06727  1.06983  1.06126  1.06923        91863
2023-02-16  1.06881  1.07223  1.06543  1.06725       106359
...             ...      ...      ...      ...          ...
1971-01-08  0.53710  0.53710  0.53710  0.53710            1
1971-01-07  0.53680  0.53680  0.53680  0.53680            1
1971-01-06  0.53650  0.53650  0.53650  0.53650            1
1971-01-05  0.53660  0.53660  0.53660  0.53660            1
1971-01-04  0.53690  0.53690  0.53690  0.53690            1

[14540 rows x 5 columns]

In [19]:
# Assign `read_table` output to `df_suzlon`
df_suzlon = repo.read_table(table_name="EURUSD", limit=2500)  # noQA F821

# Is `df_suzlon` a DataFrame?
assert isinstance(df_suzlon, pd.DataFrame)  # REMOVELINE

# Does it have a `DatetimeIndex`?
assert isinstance(df_suzlon.index, pd.DatetimeIndex)  # REMOVELINE

# Is the index named "date"?
assert df_suzlon.index.name == "date"  # REMOVELINE

# Does it have 2,500 rows and 5 columns?
assert df_suzlon.shape == (2500, 5)  # REMOVELINE

# Are the column names correct?
# REMOVE{
assert df_suzlon.columns.to_list() == ["open", "high", "low", "close", "tick_volume"]
# REMOVE}

# Are the column data types correct?
assert all(df_suzlon[["open", "high", "low", "close",]].dtypes == float) 

assert (df_suzlon["tick_volume"].dtypes == "int64")

# Print `df_suzlon` info
print("df_suzlon shape:", df_suzlon.shape)
print()
print(df_suzlon.info())
df_suzlon.head()

df_suzlon shape: (2500, 5)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500 entries, 2015-01-16 to 2023-02-22
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         2500 non-null   float64
 1   high         2500 non-null   float64
 2   low          2500 non-null   float64
 3   close        2500 non-null   float64
 4   tick_volume  2500 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 117.2 KB
None

               open     high      low    close  tick_volume
date
2015-01-16  1.16363  1.16488  1.14594  1.15679       172529
2015-01-17  1.15679  1.15735  1.15526  1.15650         2803
2015-01-18  1.15557  1.15735  1.15539  1.15610         1292
2015-01-19  1.15614  1.16388  1.15512  1.16084        86774
2015-01-20  1.15947  1.16145  1.15397  1.15502        78299

In [41]:
df_suzlon["tick_volume"].dtypes

dtype('int64')